body {
  font-family      : SF Pro Text;
  /* font-size     : 12px; */
  font-size        : 0.875rem;
  font-weight      : 400;
  letter-spacing   : -.01em;
  line-height      : 1;
}

*,
*::after,
*::before {
  margin    : 0px;
  padding   : 0px;
  box-sizing: border-box;
}

* {
  /* outline: 1px solid red !important; */
}

a {
  text-decoration: none;
  color          : black;
}

/* -------------------------------  */
body{
  background:black;
}

.circle{
  width:500px;
  height:500px;
  position: absolute;
  top:50%;
  left:50%;
  margin: -250px 0 0 -250px;
  z-index:200;
  background-image: url(./bg_recent_work_circle.png.webp);
  background-repeat: no-repeat;
  background-position:center;
  background-size:500px 500px;
}

.base{
  margin: 18px 0 0 18px;
  transform: rotate(-152deg);
}

.c1{
  opacity:.2;
  stroke-dasharray: 498 1570;
  position:absolute;
  top:0;
  left:0;
}

.c2{
  stroke-dasharray: 110 1570;
  /* 200 300 400 */
  position:absolute;
  top:0;
  left:0;
}

.tra10{
  transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}